/* цвет акцент {
   background: #2196F3
}
лого цвет акцент хедер {
    background: #000000;
}
лого цвет акцент футер {
    background: #FFFFFF;
}
основной цвет текста {
    background: #212121;
}
цвет контактов и подписей {
    background: #757575;
}
цвет контактов футер {
    background: rgba(255,255,255,0.6);
} */

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-accent-header: #000000;
  --logo-accent-footer: #ffffff;
  --secondary-text-color: #757575;
  --contacts-color-footer: rgba(255, 255, 255, 0.6);
  --hero-background: #2f303a;
  --primary-background: #e5e5e5;
  --team-background: #f5f4fa;
}

/* HEADER */
/* Logo */

.logo {
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}
.black {
  color: var(--logo-accent-header);
}
.accent,
.black,
.white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.studio.current,
.portfolio.current {
  color: var(--accent-color);
}

.header.nav,
.contacts {
  background-color: var(--logo-accent-footer);
}
.site-nav a {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.contacts a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.site-nav > a {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* HERO */
.hero {
  background-color: var(--hero-background);
}
.hero-title {
  color: var(--logo-accent-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* временно: */
  /* background-color: teal; */
}

.hero .button.primary {
  color: var(--logo-accent-footer);
  background-color: var(--accent-color);
  text-decoration: none;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* MAIN */

.feature,
.work {
  background-color: var(--primary-background);
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style-type: none;
}
.feature-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--team-background);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* FOOTER */

.footer {
  background-color: var(--hero-background);
}
.white {
  color: var(--logo-accent-footer);
}
.address {
  color: var(--logo-accent-footer);
}
.contacts-footer {
  color: var(--contacts-color-footer);
}
.address,
.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

/* ПОРТФОЛИО */

.main {
  background-color: var(--primary-background);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.main-nav .button,
.projects a {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  text-decoration: none;
}

.main-nav .primary:hover,
.main-nav .primary:focus,
.main-nav .secondary:hover,
.main-nav .secondary:focus {
  color: var(--logo-accent-footer);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.main-nav .primary,
.main-nav .secondary {
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
